body {
    display: grid;
    justify-items: center;
    align-content: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

#myCalendarWrapper {
    width: 40em;
    border: 1px solid black;
    padding: 2em 4em;
    position: relative;
    font-size: 1rem;
    margin: 2rem auto 5rem;
}

#showcase-wrapper{
    display: flex;
}

#rdvDay{
    border: 1px solid black;
    padding: 2em 4em;
    position: relative;
    font-size: 1rem;
    margin: 2rem auto 5rem;
}

#rdvDay div{
    border: 2px solid white;
    background-color: white;
    padding: 0.5em 3em;
    position: relative;
    font-size: 1rem;
    margin: 0.2rem;
}
#rdvDay > :hover {
    cursor: pointer;
    border: 2px solid #FFE600;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    box-sizing: inherit;
}
